<table class="pure-table pure-table-bordered" id="mytable">
  <thead>
    <tr id="mythead">
      <th colspan="5" ><a>Official</a> </th>
    </tr>
    <tr id="mythead">
      <th>Name</th>
      <th>Position</th>
      <th colspan="3">Can Add New official
      <%= link_to 'Here!',  new_club_path, :class=>"pure-button pure-button-primary"  %> 
      </th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.position %></td>
        <td><%= link_to 'Show', club ,:class=>"button-error pure-button" %>
        </td>
        <td><%= link_to 'Edit', edit_club_path(club),:class=>"button-error pure-button" %></td>
        <td><%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' },:class=>"button-error pure-button" %></td>
      </tr>
    <% end %>
  </tbody>




</table>

<div class="bpaginate">
    <%=  will_paginate @v_posts %>
</div>
