
<table class="pure-table pure-table-bordered" id="mytable" style="width:95%;">
  <thead>
    <tr id="mythead">
      <th colspan="11" style="border-right:1px solid #cbcbcb;" ><a>Standings</a> </th>
    </tr>
    <tr id="mythead">

      <th>Team name</th>
      <th>Pld</th>
      <th>W</th>
      <th>D</th>
      <th>L</th>
      <th>Gf</th>
      <th>Ga</th>
      <th>Gd</th>
      <th>Pts</th>
      <th>Qualification</th>
      <th>Can Modify
        <%= link_to 'Here', edit_standing_path(@standing),:class=>"button-error pure-button" %>
      </th>
    </tr>
  </thead>

  <tbody>
  
      <tr>

        <td><%= @standing.team_name1  %></td>
        <td><%= @standing.pld1 %></td>
        <td><%= @standing.w1 %></td>
        <td><%= @standing.d1 %></td>
        <td><%= @standing.l1 %></td>
        <td><%= @standing.gf1 %></td>
        <td><%= @standing.ga1 %></td>
        <td><%= @standing.gd1 %></td>
        <td><%= @standing.pts1 %></td>
        <td><%= @standing.qualification1 %></td>
        <td></td>
      </tr>

     <tr>

        <td><%= @standing.team_name2 %></td>
        <td><%= @standing.pld2 %></td>
        <td><%= @standing.w2 %></td>
        <td><%= @standing.d2 %></td>
        <td><%= @standing.l2 %></td>
        <td><%= @standing.gf2 %></td>
        <td><%= @standing.ga2 %></td>
        <td><%= @standing.gd2 %></td>
        <td><%= @standing.pts2 %></td>
        <td><%= @standing.qualification2 %></td>
        <td></td>
      </tr>

     <tr>
    
        <td><%= @standing.team_name3 %></td>
        <td><%= @standing.pld3 %></td>
        <td><%= @standing.w3 %></td>
        <td><%= @standing.d3 %></td>
        <td><%= @standing.l3 %></td>
        <td><%= @standing.gf3 %></td>
        <td><%= @standing.ga3 %></td>
        <td><%= @standing.gd3 %></td>
        <td><%= @standing.pts3 %></td>
        <td><%= @standing.qualification3 %></td>
                <td></td>
      </tr>

      <tr>

        <td><%= @standing.team_name4 %></td>
        <td><%= @standing.pld4 %></td>
        <td><%= @standing.w4 %></td>
        <td><%= @standing.d4 %></td>
        <td><%= @standing.l4 %></td>
        <td><%= @standing.gf4 %></td>
        <td><%= @standing.ga4 %></td>
        <td><%= @standing.gd4 %></td>
        <td><%= @standing.pts4 %></td>
        <td><%= @standing.qualification4 %></td>
                <td></td>
      </tr>

      <tr>

        <td><%= @standing.team_name5 %></td>
        <td><%= @standing.pld5 %></td>
        <td><%= @standing.w5 %></td>
        <td><%= @standing.d5 %></td>
        <td><%= @standing.l5 %></td>
        <td><%= @standing.gf5 %></td>
        <td><%= @standing.ga5 %></td>
        <td><%= @standing.gd5 %></td>
        <td><%= @standing.pts5 %></td>
        <td><%= @standing.qualification5 %></td>
                <td></td>
      </tr>


      <tr>

        <td><%= @standing.team_name6 %></td>
        <td><%= @standing.pld6 %></td>
        <td><%= @standing.w6 %></td>
        <td><%= @standing.d6 %></td>
        <td><%= @standing.l6 %></td>
        <td><%= @standing.gf6 %></td>
        <td><%= @standing.ga6 %></td>
        <td><%= @standing.gd6 %></td>
        <td><%= @standing.pts6 %></td>
        <td><%= @standing.qualification6 %></td>
                <td></td>
      </tr>

      <tr>

        <td><%= @standing.team_name7 %></td>
        <td><%= @standing.pld7 %></td>
        <td><%= @standing.w7 %></td>
        <td><%= @standing.d7 %></td>
        <td><%= @standing.l7 %></td>
        <td><%= @standing.gf7 %></td>
        <td><%= @standing.ga7 %></td>
        <td><%= @standing.gd7 %></td>
        <td><%= @standing.pts7 %></td>
        <td><%= @standing.qualification7 %></td>
                <td></td>
      </tr>

      <tr>

        <td><%= @standing.team_name8 %></td>
        <td><%= @standing.pld8 %></td>
        <td><%= @standing.w8 %></td>
        <td><%= @standing.d8 %></td>
        <td><%= @standing.l8 %></td>
        <td><%= @standing.gf8 %></td>
        <td><%= @standing.ga8 %></td>
        <td><%= @standing.gd8 %></td>
        <td><%= @standing.pts8 %></td>
        <td><%= @standing.qualification8 %></td>
                <td></td>
      </tr>

      <tr>

        <td><%= @standing.team_name9 %></td>
        <td><%= @standing.pld9 %></td>
        <td><%= @standing.w9 %></td>
        <td><%= @standing.d9 %></td>
        <td><%= @standing.l9 %></td>
        <td><%= @standing.gf9 %></td>
        <td><%= @standing.ga9 %></td>
        <td><%= @standing.gd9 %></td>
        <td><%= @standing.pts9 %></td>
        <td><%= @standing.qualification9 %></td>
                <td></td>
      </tr>

      <tr>

        <td><%= @standing.team_name10 %></td>
        <td><%= @standing.pld10 %></td>
        <td><%= @standing.w10 %></td>
        <td><%= @standing.d10 %></td>
        <td><%= @standing.l10 %></td>
        <td><%= @standing.gf10 %></td>
        <td><%= @standing.ga10 %></td>
        <td><%= @standing.gd10 %></td>
        <td><%= @standing.pts10 %></td>
        <td><%= @standing.qualification10 %></td>
                <td></td>
      </tr>

      <tr>

        <td><%= @standing.team_name11 %></td>
        <td><%= @standing.pld11 %></td>
        <td><%= @standing.w11 %></td>
        <td><%= @standing.d11 %></td>
        <td><%= @standing.l11 %></td>
        <td><%= @standing.gf11 %></td>
        <td><%= @standing.ga11 %></td>
        <td><%= @standing.gd11 %></td>
        <td><%= @standing.pts11 %></td>
        <td><%= @standing.qualification11 %></td>
                <td></td>
      </tr>

      <tr>

        <td><%= @standing.team_name12 %></td>
        <td><%= @standing.pld12 %></td>
        <td><%= @standing.w12 %></td>
        <td><%= @standing.d12 %></td>
        <td><%= @standing.l12 %></td>
        <td><%= @standing.gf12 %></td>
        <td><%= @standing.ga12 %></td>
        <td><%= @standing.gd12 %></td>
        <td><%= @standing.pts12 %></td>
        <td><%= @standing.qualification12 %></td>
                <td></td>
      </tr>


  </tbody>
</table>



