




 <div id="myinfo">
 <div class="pure-menu pure-menu-open" >
                    <a class="pure-menu-heading">New Match

                    </a>
                    <a class="pure-menu-heading">
                       <%= form_for @match, :html => {:class =>"pure-form pure-form-aligned", :multipart => true } do |f| %>
                    <% if @match.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

                        <ul>
                        <% @match.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>

                      <fieldset>
                        <div class="pure-control-group">
                          <label>Match</label>
                          <%= f.select :team1, Mnlteam.all.collect { |c| [c.name, c.name] }  %>
                          Vs
                          <%= f.select :team2, Mnlteam.all.collect { |c| [c.name, c.name] }  %>
                        </div>

                        <div class="pure-control-group">
                          <%= f.label :league %>
                          <%= f.text_field :league, :placeholder => "League", :value => "MNL"   %>
                        </div>
                        <div class="pure-control-group">
                          <label>Time/Date</label>
                          <%= f.time_field :time %>
                          <%= f.date_field :date %>
                        </div>

                        <div class="pure-control-group">
                          <%= f.label :stadium %>
                           <%= f.select(:stadium, Match::STATIDUM) %>
                        </div>

                        <div class="pure-control-group">
                          <%= f.label :team1_image %>
                          <%= f.file_field :avatar %>
                        </div>     
                        <div class="pure-control-group">
                          <%= f.label :team2_image %>
                          <%= f.file_field :avatar2 %>
                        </div>

                        <div class="pure-controls">
                          <button type="submit" class="pure-button pure-button-primary">Submit</button>
                        </div>
                      </fieldset>
                    <% end %>
                    </a>


</div>
