<%= form_for @social, :html => {:class =>"pure-form pure-form-aligned", :multipart => true } do |f| %>
  <% if @social.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social.errors.count, "error") %> prohibited this social from being saved:</h2>

      <ul>
      <% @social.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
      <div class="pure-control-group">
        <%= f.label :title %>
        <%= f.text_field :title, :placeholder => "Title"   %>
      </div>
      <div class="pure-control-group">
        <%= f.label :content %>
        <%= f.text_area :data, :placeholder => "Content", :rows => 10 %>
      </div>
      <div class="pure-control-group">
          <%= f.label :image_upload %>
          <%= f.file_field :avatar %>
        </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
      </div>
  </fieldset>
<% end %>
